{
    "person_id": "pid3319",
    "wallet": {
        "public": "PizgnsfVWBzJxJ6RteOQ1ZyeOdc9n5KT+GrQpKz7IXLQIiVmSlvZ5EHw83GZL7wqZYQiGrHH+lKU7xE5KxmeKg==",
        "private": "zhZpfvpmT3R7mUZa67ui1/G3I9vxRFEBrXNXToVctH0=",
        "address": "0x20513a419d5b11cd510ae518dc04ac1690afbed6"
    }
}