aiofiles==0.7.0
asgiref==3.4.0
astroid==2.8.5
autopep8==1.5.7
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
ecdsa==0.17.0
fastapi==0.65.2
h11==0.12.0
idna==2.10
isort==5.10.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
Naked==0.1.31
platformdirs==2.4.0
pycodestyle==2.7.0
pycryptodome==3.10.1
pydantic==1.8.2
pylint==2.11.1
python-multipart==0.0.5
PyYAML==5.4.1
requests==2.25.1
shellescape==3.8.1
six==1.16.0
SQLAlchemy==1.4.26
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
utils==1.0.1
uvicorn==0.14.0
wrapt==1.13.3
